.Contact_wrapper {
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;

  .contact {
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
    margin-bottom: -80px;

    .contact-form {
      h1 {
        font-size: 80px;
        color: white;
        margin-bottom: 20px;

        span {
          color: #fc0050;
        }
      }

      p {
        color: white;
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 23px;
        margin-bottom: 20px;
      }

      form input,
      form textarea {
        width: 100%;
        padding: 17px;
        border: none;
        outline: none;
        background-color: #191919;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      form .submit-btn {
        display: inline-block;
        background-color: #fc0050;
        font-size: 27px;
        font-weight: 600px;
        border: 2px solid transparent;
        border-radius: 40px;
        width: 220px;
        cursor: pointer;
        transition: ease 0.3s;
      }

      form .submit-btn:hover {
        border: 2px solid #fc0050;
        background-color: transparent;
        transform: scale(1.1);
      }
    }
  }
}
